
<div fxLayout="column" fxFlex="70" fxLayoutAlign="center center" fxFlexOffset="15">

  <mat-card style="width:100%">
    <mat-card-title>
      <p>Search tickets</p>
    </mat-card-title>

    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <mat-form-field class="pl-xs pr-xs" fxFlex="50">
          <input matInput placeholder="Asignee" [formControl]="asigneeControl" [matAutocomplete]="asigneeRef">
          <mat-autocomplete #asigneeRef="matAutocomplete" [displayWith]="displayMember">
            <mat-option *ngFor="let asignee of filteredAsignees | async" [value]="asignee">
              {{ asignee.fullName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="pl-xs pr-xs" fxFlex="50">
          <input matInput placeholder="Reporter" [formControl]="reporterControl" [matAutocomplete]="reporterRef">
          <mat-autocomplete #reporterRef="matAutocomplete" [displayWith]="displayMember">
            <mat-option *ngFor="let reporter of filteredReporters | async" [value]="reporter">
              {{ reporter.fullName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <mat-form-field class="pl-xs pr-xs" fxFlex="50">
          <mat-select [formControl]="priorityControl" placeholder="Priority">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let priority of priorities" [value]="priority">
              {{priority.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="pl-xs pr-xs" fxFlex="50">
          <mat-select [formControl]="resolutionControl" placeholder="Resolution">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let resolution of resolutions" [value]="resolution">
              {{resolution.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <mat-form-field class="pl-xs pr-xs" fxFlex="100">
          <input matInput placeholder="Summary may contain..." [(ngModel)]="summaryFilter" class="mat-color-primary">
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <button class="ml-xs" matSuffix mat-button mat-raised-button color="primary" (click)="search()">
          <mat-icon>search</mat-icon>Search
        </button>

        <button mat-raised-button class="ml-xs" [color]="red" (click)="resetParameters()">Clear filters
            <mat-icon>clear</mat-icon>
        </button>
      </div>

    </mat-card-content>
    <mat-card-footer>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
    </mat-card-footer>
  </mat-card>


  <br>

  <mat-card style="width:100%">
    <mat-card-content>
      <h3>Found 3 tickets</h3>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon mat-list-icon color="primary">folder</mat-icon>

          <span mat-line class="claim-file"> Test
          </span>

          <mat-chip-list>
            <mat-chip color="amber">Status</mat-chip>
          </mat-chip-list>

          <p mat-line>Some other info </p>
          <p mat-line> </p>

          <mat-divider></mat-divider>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

</div>
